body{
      margin: 0;
}
/* header section  */
@media only screen and (max-width: 767px){
      .h-details{
            font-size: 10px;
      }
      .slider-heading{
            font-size: 25px;
      }
      .h-btn{
            font-size:12px
      }
     
}
.slider-heading{
      font-size: 6vw;
}
.h-details{
      font-size: 2vw;
}
.h-btn{
      font-size: 3vw;
}
.carousel-item{
      background-color: black;
}

/* main section  */
@media screen and (max-width:576px){
      .m-div{
            display: flex;
            flex-direction: column;
      }
      .col-articel p{
            font-size: 15px;
      }
}
